body {
  background-color: black;
  color: white;
}

canvas{
    border: 1px solid white;
}

#debug{
    display: inline-block;
    float: right;
}

#monitor{
    float: right;
    border: 1px solid red;
    width: 100%;
}

img{
    display: none;
}
